<article class="char-sheet">
    <section class="char-sheet-header">
        <div class="char-name char-field-wrapper">
            <p class="char-name-text">Ava</p>
            <input type="text" id="charName" class="form-control hidden" disabled />
            <label for="charName" class="char-field-label">Character name</label>
        </div>

        <div class="char-info">
            <div class="char-class char-field-wrapper">
                <p>Divine Soul <strong>Sorcerer</strong></p>
                <label for="charClass" class="char-field-label">Class</label>
            </div>
            <div class="char-race char-field-wrapper">
                <p>Yuan-Ti Gorgon (Homebrew)</p>
                <label for="charRace" class="char-field-label">Race</label>
            </div>
            <div class="char-player-name char-field-wrapper">
                <p>Ethel</p>
                <label for="charPlayerName" class="char-field-label">Player name</label>
            </div>
            <div class="char-background char-field-wrapper">
                <p>Background</p>
                <label for="charBackground" class="char-field-label">Background</label>
            </div>
            <div class="char-alignment char-field-wrapper">
                <p>Neutral Good</p>
                <label for="charAlignment" class="char-field-label">Alignment</label>
            </div>
            <div class="char-level char-field-wrapper">
                <p>12</p>
                <label for="charLevel" class="char-field-label">Level</label>
            </div>
        </div>

    </section>

    <section class="char-sheet-page">

        <!-- Ability Scores - vertical or horizontal tile -->
        {% include 'partials/sheet_ability_scores.html' %}

        <div class="char-sheet-column">

            <article class="char-inspiration char-border-grey p-2">
                <div class="text-center">
                    <input type="checkbox" id="inspirationCheckbox">
                    <label for="inspirationCheckbox" class="char-field-label">Inspiration</label>
                </div>
            </article>

            <article class="char-prof-bonus-card char-border-grey p-2">
                <div class="text-center">
                    <span class="char-prof-bonus"></span>
                    <label class="char-field-label">Proficiency Bonus</label>
                </div>
            </article>

            <article class="char-passive-wisdom-card char-border-grey p-2">
                <div class="text-center">
                    <span class="char-passive-wisdom"></span>
                    <label class="char-field-label">Passive Wisdom (Perception)</label>
                </div>
            </article>

            <!-- Saving Throws - vertical tile -->
            {% include 'partials/sheet_saving_throws.html' %}

            <!-- Skills - vertical tile -->
            {% include 'partials/sheet_skills.html' %}
        </div>

        <div class="char-sheet-column">
            <div class="flex-c">
                <div class="char-ac char-stat-block char-field-wrapper char-border-grey text-center">
                    <p class="char-ac-stat char-ability-score">10</p>
                    <label class="char-field-label">Armor Class</label>
                </div>

                <div class="char-ini char-stat-block char-field-wrapper char-border-grey text-center">
                    <p class="char-ini-stat char-ability-score">0</p>
                    <label class="char-field-label">Initiative</label>
                </div>

                <div class="char-speed char-stat-block char-field-wrapper char-border-grey text-center">
                    <p class="char-speed-stat char-ability-score">30 ft</p>
                    <label class="char-field-label">Speed</label>
                </div>
            </div>

            <article class="char-field-wrapper char-border-grey text-center p-2">
                <p>Current HP : <span id="currentHP">0</span></p>
                <p>Max HP : <span id="maxHP">0</span></p>
                <p>Temp HP : <span id="tempHP">0</span></p>
                <label class="char-field-label">Hit Point</label>
            </article>

            <article class="char-field-wrapper char-border-grey text-center p-2">
                <p>Total : <span id="totalHitDice">0dN</span></p>
                <p>Class 1 : <span id="">0dN</span></p>
                <label class="char-field-label">Hit Dice</label>
            </article>

            <article class="char-field-wrapper char-border-grey text-center p-2">
                <p>Successes</p>
                <p>Failures</p>
                <label class="char-field-label">Death Saves</label>
            </article>

        </div>

        <div class="char-sheet-column">
            <!-- Equipment - vertical tile -->
            {% include 'partials/sheet_equipment_tile.html' %}

            <!-- Attacks - vertical tile -->
            {% include 'partials/sheet_attack_tile.html' %}

        </div>

        <div class="char-sheet-column">
            <article class="char-text-block char-field-wrapper char-border-grey text-center p-2">
                <textarea id="charPersonnalityTraits" class="form-control"></textarea>
                <label class="char-field-label">Personnality Traits</label>
            </article>

            <article class="char-text-block char-field-wrapper char-border-grey text-center p-2">
                <textarea id="charIdeals" class="form-control"></textarea>
                <label class="char-field-label">Ideals</label>
            </article>

            <article class="char-text-block char-field-wrapper char-border-grey text-center p-2">
                <textarea id="charBonds" class="form-control"></textarea>
                <label class="char-field-label">Bonds</label>
            </article>

            <article class="char-text-block char-field-wrapper char-border-grey text-center p-2">
                <textarea id="charflaws" class="form-control"></textarea>
                <label class="char-field-label">Flaws</label>
            </article>

        </div>

        <div class="char-sheet-column">
            <article class="char-text-block char-field-wrapper char-border-grey text-center p-2">
                <textarea id="charAppearance" class="form-control"></textarea>
                <label class="char-field-label">Character Appearance</label>
            </article>

            <article class="char-text-block char-field-wrapper char-border-grey text-center p-2">
                <textarea id="charBackstory" class="form-control"></textarea>
                <label class="char-field-label">Character Backstory</label>
            </article>

            <article class="char-text-block char-field-wrapper char-border-grey text-center p-2">
                <textarea id="charAllies" class="form-control"></textarea>
                <label class="char-field-label">Allies & Organisations</label>
            </article>

            <article class="char-text-block char-field-wrapper char-border-grey text-center p-2">
                <textarea id="charTreasure" class="form-control"></textarea>
                <label class="char-field-label">Treasure</label>
            </article>

        </div>

        <div class="char-sheet-column">
            <article id="featuresSection" class="char-field-wrapper char-border-grey text-center p-2">
                <section class="mb-3">
                    <details class="fa-chevron" open>
                        <summary><h4>Racial Traits</h4></summary>
                        <textarea id="raceFeatures" class="form-control"></textarea>
                    </details>
                </section>

                <section class="mb-3">
                    <details class="fa-chevron" open>
                        <summary><h4>Class Features</h4></summary>
                        <textarea id="classFeatures" class="form-control"></textarea>
                    </details>

                </section>

                <section class="mb-3">
                    <details class="fa-chevron" open>
                        <summary><h4>Other Features</h4></summary>
                        <textarea id="otherFeatures" class="form-control"></textarea>
                    </details>

                </section>

                <label class="char-field-label">Features & Traits</label>
            </article>
        </div>

        <div class="char-sheet-column">
            <!-- Spellcasting - horizontal tile -->
            {% include 'partials/sheet_spellcasting.html' %}
        </div>

    </section>

    <style nonce="{{ csp_nonce }}">

    </style>

</article>