<article class="char-field-wrapper char-border-grey text-center p-2">
    <div class="flex-fit mb-3">
        <div class="currency-card-bar vertical">
            <div class="currency-card-tile"><label>CP</label><input type="number" id="charCurrencyCP"
                    class="form-control" placeholder="0"></div>
            <div class="currency-card-tile"><label>SP</label><input type="number" id="charCurrencySP"
                    class="form-control" placeholder="0"></div>
            <div class="currency-card-tile"><label>EP</label><input type="number" id="charCurrencyEP"
                    class="form-control" placeholder="0"></div>
            <div class="currency-card-tile"><label>GP</label><input type="number" id="charCurrencyGP"
                    class="form-control" placeholder="0"></div>
            <div class="currency-card-tile"><label>PP</label><input type="number" id="charCurrencyPP"
                    class="form-control" placeholder="0"></div>
        </div>
        <i class="fa-solid fa-circle-question currency-gold"></i>
    </div>


    <textarea id="charEquipment" class="form-control"></textarea>
    <label class="char-field-label">Equipment</label>
</article>