<article id="sheetAttackTile" class="char-field-wrapper char-border-grey text-center p-2">
    <details class="fa-chevron" open>
        <summary><h4 class="px-3">Attack List</h4></summary>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Atk Bonus</th>
                    <th>Damage/Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Unarmed Strike</td>
                    <td>1 + STR</td>
                    <td>Bludgeoning damage</td>
                </tr>
                <tr>
                    <td>Grapple</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </details>

    <label class="char-field-label">Attacks</label>
</article>