<article class="saving-throw-container">
    <div class="saving-throw-row" data-ability-type="str">
        <i>O</i>
        <span class="saving-throw-mod">0</span>
        <p class="saving-throw-ability">Strength</p>
    </div>

    <div class="saving-throw-row" data-ability-type="dex">
        <i>O</i>
        <span class="saving-throw-mod">0</span>
        <p class="saving-throw-ability">Dexterity</p>
    </div>

    <div class="saving-throw-row" data-ability-type="con">
        <i>O</i>
        <span class="saving-throw-mod">0</span>
        <p class="saving-throw-ability">Constitution</p>
    </div>

    <div class="saving-throw-row" data-ability-type="int">
        <i>O</i>
        <span class="saving-throw-mod">0</span>
        <p class="saving-throw-ability">Intelligence</p>
    </div>

    <div class="saving-throw-row" data-ability-type="wis">
        <i>O</i>
        <span class="saving-throw-mod">0</span>
        <p class="saving-throw-ability">Wisdom</p>
    </div>

    <div class="saving-throw-row" data-ability-type="cha">
        <i>O</i>
        <span class="saving-throw-mod">+9</span>
        <p class="saving-throw-ability">Charisma</p>
    </div>

    <label class="char-field-label text-center">Saving Throws</label>
</article>