{% extends 'base.html' %}

{% block head %}
<title>Characters ~ Ethel's Character Tracker</title>
<script nonce="{{ csp_nonce }}" src="{{root}}/js/characters.js"></script>
{% endblock %}

{% block main %}
<h1 class="underline-primary underline-thick">Characters</h1>

<div class="btnBar mt-3 mb-4">
    <a href="{{root}}/index" class="btn btn-light-grey"><i class="fas fa-arrow-left"></i>Back</a>
    <a href="{{root}}/characters/editor" class="btn btn-green"><i class="fas fa-plus"></i> New Character</a>
</div>

<section id="characterList" class="row g-4 mt-3"></section>

<script>
    var root = "{{root}}";
    window.ROOT_PATH = "{{ root }}";
</script>

{% endblock %}