{% extends 'base.html' %}

{% block head %}
<title>Character Spells ~ Ethel's Character Tracker</title>
<script nonce="{{ csp_nonce }}" type="module" src="{{ root }}/js/character_spells.js"></script>
{% endblock %}

{% block main %}
<h1 class="underline-primary underline-thick">Character Spells</h1>

<div class="btnBar mt-3 mb-4">
    <a href="{{root}}/characters" class="btn btn-light-grey">
        <i class="fas fa-arrow-left"></i> Back to Characters
    </a>
</div>

<p class=""><em>This is a test page</em></p>

<section>
    <div id="spellsKnownContainer">
        <label for="knownCantrips">Cantrips known:</label><span id="knownCantrips" class="">N</span>
        <label for="knownSpells">Spells known:</label><span id="knownSpells" class="">N</span>
        <label for="preparedSpells">Spells prepared:</label><span id="preparedSpells" class="">X/Y</span>
    </div>

    <div id="spellsFilterContainer">
        <div class="form-checkbox">
            <input type="checkbox" class="">
            <label for="">Show prepared only</label>
        </div>
        <div class="form-checkbox">
            <input type="checkbox" class="">
            <label for="">Show damage and range</label>
        </div>
        <div class="form-checkbox">
            <input type="checkbox" class="" disabled>
            <label for="">Show description</label>
        </div>
    </div>

    <div id="spellSlots" class="flex">
        <h4>I</h4>
        <h4>II</h4>
        <h4>III</h4>
        <h4>IV</h4>
        <h4>V</h4>
    </div>
</section>

<section id="spellCardsContainer"></section>

<script nonce="{{ csp_nonce }}">
    var root = "{{root}}";
</script>
{% endblock %}