{% extends 'base.html' %}

{% block head %}
<title>Features</title>
<script nonce="{{ csp_nonce }}" src="{{root}}/js/features.js"></script>
{% endblock %}

{% block main %}
<h1>All Features</h1>

<details>
    <summary><h2 class="section-title">Base Features</h2></summary>
    <section id="baseFeatureContainer" class="mt-2"></section>
</details>

<hr>

<details>
    <summary><h2 class="section-title">Race Features</h2></summary>
    <section id="raceFeatureContainer" class="mt-2"></section>
</details>

<hr>

<details>
    <summary><h2 class="section-title">Class Features</h2></summary>
    <section id="classFeatureContainer" class="mt-2"></section>
</details>

<hr>

<details>
    <summary><h2 class="section-title">Subclass Features</h2></summary>
    <section id="subclassFeatureContainer" class="mt-2"></section>
</details>

<script>
document.addEventListener("DOMContentLoaded", loadFeaturesFromAPI);
</script>
{% endblock %}