{% extends 'base.html' %}

{% block head %}
<title>Features ~ Ethel's Character Tracker</title>
<script nonce="{{ csp_nonce }}" src="{{root}}/js/features.js"></script>
{% endblock %}

{% block main %}
<h1 class="underline-green underline-thick">Features</h1>

<div class="btnBar mt-3 mb-4">
    <a href="{{root}}/index" class="btn btn-light-grey"><i class="fas fa-arrow-left"></i>Back</a>
</div>

<details class="dnd-feature-section">
    <summary><h2 class="section-title underline-primary">Base Features</h2></summary>
    <section id="baseFeatureContainer" class="mt-2"></section>
</details>

<hr>

<details class="dnd-feature-section">
    <summary><h2 class="section-title underline-primary">Race Features</h2></summary>
    <section id="raceFeatureContainer" class="mt-2"></section>
</details>

<hr>

<details class="dnd-feature-section">
    <summary><h2 class="section-title underline-primary">Class Features</h2></summary>
    <section id="classFeatureContainer" class="mt-2"></section>
</details>

<hr>

<details class="dnd-feature-section">
    <summary><h2 class="section-title underline-primary">Subclass Features</h2></summary>
    <section id="subclassFeatureContainer" class="mt-2"></section>
</details>

<script>
    var root = "{{root}}";
    document.addEventListener("DOMContentLoaded", loadFeaturesFromAPI(root));
</script>
{% endblock %}