{% extends 'base.html' %}

{% block head %}
<title>Index - Ethel's Character Tracker</title>
{% endblock %}

{% block main %}

<div class="row mt-4">
    <div class="col-xl-12 col-md-12">
        <h1 class="text-center text-bold">Ethel's Character Tracker</h1>

        <h2 class="text-center mt-3">Resources</h2>
        <div class="btnBar-c mt-3">
            <a href="{{root}}/features" class="btn btn-green btn-big">✨ Features</a>
            <a href="{{root}}/spells" class="btn btn-blue btn-big">🪄 Spells</a>
            <a href="{{root}}/races" class="btn btn-purple btn-big">🧬 Races</a>
        </div>
        
    </div>
</div>

<script nonce="{{ csp_nonce }}">
    var csrf_token = "{{csrf_token}}";
    var root = "{{root}}";
</script>
    
{% endblock %}
