{% extends 'base.html' %}

{% block head %}
<title>Index - Ethel's Character Tracker</title>
{% endblock %}

{% block main %}

<section class="index-card mt-4">
    <h1 class="text-center text-bold">Ethel's Character Tracker</h1>

    {% if char_editor_enabled %}
    <div class="btnBar-c mt-4">
        <a href="{{root}}/characters" class="btn btn-primary btn-bigger">Characters</a>
    </div>
    {% endif %}

    <h2 class="text-center mt-4">Resources</h2>
    <div class="btnBar-c mt-3">
        <a href="{{root}}/features" class="btn btn-green btn-big">✨ Features</a>
        <a href="{{root}}/spells" class="btn btn-purple btn-big">🪄 Spells</a>
        <a href="{{root}}/races" class="btn btn-moutarde btn-big">🧬 Races</a>
        <a href="{{root}}/classes" class="btn btn-blue btn-big">⛑️ Classes</a>
    </div>

    <div class="btnBar-c mt-3">
        <a href="{{root}}/library" class="btn btn-orange btn-big">📚 Library</a>
    </div>

    {% if admin_enabled %}
    <h2 class="text-center mt-4">Admin</h2>
    <div class="btnBar-c mt-3">
        <button id="runBuildersBtn" class="btn btn-secondary btn-big">⚙️ Build Resources</button>
    </div>
    {% endif %}

    <p class="text-center text-sm text-color-grey mb-0 mt-4">v{{app_version}}</p>
    
</section>

<script nonce="{{ csp_nonce }}">
    var csrf_token = "{{csrf_token}}";
    var root = "{{root}}";
</script>

{% if admin_enabled %}
<script type="module" nonce="{{ csp_nonce }}">
    import { runBuilderScript, runMultipleBuilderScripts } from "{{root}}/js/builder_utils.js";

    const runBuildersBtn = document.getElementById("runBuildersBtn");
    let buildingResources = false;

    if (runBuildersBtn && !buildingResources) {
        runBuildersBtn.addEventListener("click", async () => {
            buildingResources = true;
            runBuildersBtn.disabled = true;
            runBuildersBtn.innerText = "⚙️ Building Resources...";

            await runMultipleBuilderScripts([
                "build_features.py",
                "build_spells.py",
                "build_races.py",
                "build_class_levels.py",
                "build_classes.py",
                "build_items.py",
            ], root);

            buildingResources = false;
            runBuildersBtn.disabled = false;
            runBuildersBtn.innerText = "⚙️ Build Resources";
            alert("Resources successfully rebuilt!");
        });
    }
</script>
{% endif %}
    
{% endblock %}
