{% extends 'base.html' %}

{% block head %}
<title>Races ~ Ethel's Character Tracker</title>
<script nonce="{{ csp_nonce }}" src="{{root}}/js/races.js"></script>
{% endblock %}

{% block main %}
<h1 class="underline-moutarde underline-thick">Races</h1>

<div class="btnBar mt-3 mb-4">
    <a href="{{root}}/index" class="btn btn-light-grey"><i class="fas fa-arrow-left"></i>Back</a>
</div>

<div id="raceContainer"></div>

<script>
    var root = "{{root}}";
    document.addEventListener("DOMContentLoaded", loadRacesFromAPI(root));
</script>
{% endblock %}