{% extends 'base.html' %}

{% block head %}
<title>Spells ~ Ethel's Character Tracker</title>
<script nonce="{{ csp_nonce }}" src="{{root}}/js/spells.js"></script>
{% endblock %}

{% block main %}
<h1 class="underline-purple underline-thick">Spells</h1>

<div class="btnBar mt-3 mb-4">
    <a href="{{root}}/index" class="btn btn-light-grey"><i class="fas fa-arrow-left"></i>Back</a>
</div>

<!-- Spell level tabs -->
<ul class="nav nav-tabs" id="spellTabs" role="tablist"></ul>

<!-- Spell level panes -->
<div class="tab-content" id="spellTabsContent"></div>

<script>
    var root = "{{root}}";
    document.addEventListener("DOMContentLoaded", loadSpellsFromAPI(root));
</script>
{% endblock %}