<article class="saving-throw-container">
    <div class="skill-row" data-ability-type="dex" data-skill-name="acrobatics">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Acrobatics</p>
        <p class="skill-ability-hint">(Dex)</p>
    </div>

    <div class="skill-row" data-ability-type="wis" data-skill-name="animal_handling">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Animal Handling</p>
        <p class="skill-ability-hint">(Wis)</p>
    </div>

    <div class="skill-row" data-ability-type="int" data-skill-name="arcana">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Arcana</p>
        <p class="skill-ability-hint">(Int)</p>
    </div>

    <div class="skill-row" data-ability-type="str" data-skill-name="athletics">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Athletics</p>
        <p class="skill-ability-hint">(Str)</p>
    </div>

    <div class="skill-row" data-ability-type="cha" data-skill-name="deception">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Deception</p>
        <p class="skill-ability-hint">(Cha)</p>
    </div>

    <div class="skill-row" data-ability-type="int" data-skill-name="history">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">History</p>
        <p class="skill-ability-hint">(Int)</p>
    </div>

    <div class="skill-row" data-ability-type="wis" data-skill-name="insight">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Insight</p>
        <p class="skill-ability-hint">(Wis)</p>
    </div>

    <div class="skill-row" data-ability-type="cha" data-skill-name="intimidation">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Intimidation</p>
        <p class="skill-ability-hint">(Cha)</p>
    </div>

    <div class="skill-row" data-ability-type="int" data-skill-name="investigation">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Investigation</p>
        <p class="skill-ability-hint">(Int)</p>
    </div>

    <div class="skill-row" data-ability-type="wis" data-skill-name="medecine">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Medecine</p>
        <p class="skill-ability-hint">(Wis)</p>
    </div>

    <div class="skill-row" data-ability-type="int" data-skill-name="nature">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Nature</p>
        <p class="skill-ability-hint">(Int)</p>
    </div>

    <div class="skill-row" data-ability-type="wis" data-skill-name="perception">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Perception</p>
        <p class="skill-ability-hint">(Wis)</p>
    </div>

    <div class="skill-row" data-ability-type="cha" data-skill-name="performance">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Performance</p>
        <p class="skill-ability-hint">(Cha)</p>
    </div>

    <div class="skill-row" data-ability-type="cha" data-skill-name="persuasion">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Persuasion</p>
        <p class="skill-ability-hint">(Cha)</p>
    </div>

    <div class="skill-row" data-ability-type="int" data-skill-name="religion">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Religion</p>
        <p class="skill-ability-hint">(Int)</p>
    </div>

    <div class="skill-row" data-ability-type="dex" data-skill-name="sleight_of_hand">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Sleight of Hand</p>
        <p class="skill-ability-hint">(Dex)</p>
    </div>

    <div class="skill-row" data-ability-type="dex" data-skill-name="stealth">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Stealth</p>
        <p class="skill-ability-hint">(Dex)</p>
    </div>

    <div class="skill-row" data-ability-type="dex" data-skill-name="survival">
        <span class="skill-proficiency-status">O</span>
        <span class="skill-mod">0</span>
        <p class="skill-name">Survival</p>
        <p class="skill-ability-hint">(Wis)</p>
    </div>
    
    <label class="char-field-label text-center">Skills</label>
</article>