/* ##### COLORS ##### */
:root {
    --black-color: #231515;
    --white-color: white;
    --primary-color: #741c16;
    --primary-color-shade: #551410;
    --primary-color-shadow: #741c1640;
    --grey-color: #888;
    --grey-color-shade: #777;
    --grey-color-shadow: #88888840;
    --dark-grey-color: #414040;
    --dark-grey-color-shade: #303030;
    --dark-grey-color-shadow: #41404040;
    --light-grey-color: #d3d3d3;
    --light-grey-color-shade: #c4c4c4;
    --light-grey-color-shadow: #d3d3d340;
    --red-color: #ce3b31;
    --red-color-shade: #aa322a;
    --red-color-shadow: #ce3b3140;
    --purple-color: #805286;
    --purple-color-shade: #6e4774;
    --purple-color-shadow: #80528640;
    --blue-color: #5690c5;
    --blue-color-shade: #4b7ba8;
    --blue-color-shadow: #5690c540;
    --green-color: #00A759;
    --green-color-shade: #447c5a;
    --green-color-shadow: #00A75940;
    --orange-color: #b45e2f;
    --orange-color-shade: #8f4b0c;
    --orange-color-shadow: #b45e2f40;
    --moutarde-color: #d29928;
    --moutarde-color-shade: #aa7c20;
    --moutarde-color-shadow: #d2992840;
}

::selection {
    color: white;
    background-color: var(--primary-color);
}


/* ##### AESTHETICS ##### */
html {
  scroll-behavior: smooth;
}

.hide,
.hidden {
    display: none !important;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.unselectable {
    user-select: none;
}

hr {
    height: .125rem;
    color: var(--dark-grey-color);
}

.border-round {
    border-radius: 1rem;
}

/* Background */
.bg-primary { background-color: var(--primary-color); }
.bg-red { background-color: var(--red-color); }
.bg-purple { background-color: var(--purple-color); }
.bg-blue { background-color: var(--blue-color); }
.bg-green { background-color: var(--green-color); }
.bg-moutarde { background-color: var(--moutarde-color); }
.bg-orange { background-color: var(--orange-color); }
.bg-grey { background-color: var(--grey-color); }
.bg-light-grey { background-color: var(--light-grey-color); }
.bg-dark-grey { background-color: var(--dark-grey-color); }

/* Underlines */
[class*="underline"] { 
    text-decoration: underline; 
}

.underline-primary  { text-decoration-color: var(--primary-color); }
.underline-red      { text-decoration-color: var(--red-color); }
.underline-purple   { text-decoration-color: var(--purple-color); }
.underline-blue     { text-decoration-color: var(--blue-color); }
.underline-green    { text-decoration-color: var(--green-color); }
.underline-moutarde { text-decoration-color: var(--moutarde-color); }
.underline-orange   { text-decoration-color: var(--orange-color); }
.underline-grey     { text-decoration-color: var(--grey-color); }

.underline-thick {
    text-decoration-thickness: 0.075em;
}

.underline-thicc {
    text-decoration-thickness: 0.1em;
}

.underline-thiccc {
    text-decoration-thickness: 0.125em;
}

.underline-hella-thicc {
    text-decoration-thickness: 0.15em;
}

/* Text style */
.text-bold {
    font-weight: bold;
}

/* Text color */
.text-color-primary {
    color: var(--primary-color);
}
.text-color-purple {
    color: var(--purple-color);
}
.text-color-blue {
    color: var(--blue-color);
}
.text-color-green {
    color: var(--green-color);
}
.text-color-moutarde {
    color: var(--moutarde-color);
}
.text-color-grey {
    color: var(--grey-color);
}
.text-color-dark-grey {
    color: var(--dark-grey-color);
}
.text-color-light-grey {
    color: var(--light-grey-color);
}

/* Tabs (margin-left) */
.tab-1 {
    margin-left: 2rem;
}

.tab-2 {
    margin-left: 4rem;
}

.tab-3 {
    margin-left: 6rem;
}
.tab-4 {
    margin-left: 8rem;
}

/* Text size */
.text-big {
    font-size: 1.25rem;
}

.text-bigger {
    font-size: 1.5rem;
}

.text-biggerer {
    font-size: 1.75rem;
}

.text-huge {
    font-size: 2rem;
}

.text-mega {
    font-size: 5em;
}

.text-small {
    font-size: 0.75rem;
}

.text-smaller {
    font-size: 0.5rem;
}

/* Icon spacing */
.page-h1 svg {
    margin-right: .75rem;
}

.page-h2 svg {
    margin-right: .5rem;
}

.page-h3 svg {
    margin-right: .25rem;
}

/* Accordion */
details summary {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

details[open] summary::before {
    content: "🔽";
}
details:not([open]) summary::before {
    content: "▶️";
}

/* Hide native marker */
details.fa-chevron summary::-webkit-details-marker {
    display: none;
}
details[open].fa-chevron summary::before {
    content: "";
}
details:not([open]).fa-chevron summary::before {
    content: "";
}

/* Font Awesome chevron style */
.chevron-icon {
    transition: transform 0.3s ease;
    margin-right: 0.5em
}

/* Rotate when open */
details[open].fa-chevron .chevron-icon {
    transform: rotate(180deg);
}

.summary-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    width: 100%;
}


/* ##### FOOTER ##### */
#version {
    width: auto;
    margin-left: auto;
    cursor: default;
    transition: all 0.2s ease-out;
}

#version:hover {
    color: var(--purple-color) !important;
}


/* ##### FLEX ##### */
[class*="flex"] {
    display: flex;
    flex-direction: row;
}

.flex-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-fit {
    width: fit-content;
}

.flex-full {
    width: 100%;
}

.fit {
    width: fit-content;
}


/* ===== GRID ===== */
.grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem; /* space between grid items */
}

.index-card {
    display: block;
    max-width: 600px;
    min-width: fit-content;
    padding: 1.5em;
    border-radius: 1em;
    background-color: var(--grey-color-shadow);
    margin-inline: auto;
}