/* ===== DND COLORS ===== */
:root {
    /* Damage types */
    --dnd-acid-color: #78A303;
    --dnd-cold-color: #3399CC;
    --dnd-fire-color: #EE5500;
    --dnd-force-color: #AA3030;
    --dnd-healing-color: #30BBBB;
    --dnd-lightning-color: #3366CC;
    --dnd-necrotic-color: #40B050;
    --dnd-poison-color: #44BB00;
    --dnd-radiant-color: #CCAA00;
    --dnd-thunder-color: #8844BB;
    --dnd-psychic-color: #CC77AA;
    --dnd-physical-color: #8C8C8C;

    /* Statuses */
    --dnd-resistance-color: #a4b0be;
    --dnd-immunity-color: #b4a4be;
    --dnd-vulnerable-color: #ff6b6b;

    /* Currency */
    --dnd-gold-color: #e5a939;
}

/* Damage types */
/* [class^="damage-"] {} */
.damage-dice {
    font-weight: bold;
    color: var(--black-color);
}
.damage-dice::selection {
    color: var(--white-color);
    background-color: var(--dark-grey-color);
}

.damage-acid { 
    color: var(--dnd-acid-color); 
}
.damage-acid::selection {
    color: var(--black-color);
    background-color: var(--dnd-acid-color);
}

.damage-cold { 
    color: var(--dnd-cold-color); 
}
.damage-cold::selection {
    color: var(--black-color);
    background-color: var(--dnd-cold-color);
}

.damage-fire { 
    color: var(--dnd-fire-color); 
}
.damage-fire::selection {
    color: var(--white-color);
    background-color: var(--dnd-fire-color);
}

.damage-force { 
    color: var(--dnd-force-color); 
}
.damage-force::selection {
    color: var(--white-color);
    background-color: var(--dnd-force-color);
}

.damage-lightning { 
    color: var(--dnd-lightning-color); 
}
.damage-lightning::selection {
    color: var(--white-color);
    background-color: var(--dnd-lightning-color);
}

.damage-necrotic { 
    color: var(--dnd-necrotic-color); 
}
.damage-necrotic::selection {
    color: var(--black-color);
    background-color: var(--dnd-necrotic-color);
}

.damage-poison { 
    color: var(--dnd-poison-color); 
}
.damage-poison::selection {
    color: var(--black-color);
    background-color: var(--dnd-poison-color);
}

.damage-radiant { 
    color: var(--dnd-radiant-color); 
}
.damage-radiant::selection {
    color: var(--black-color);
    background-color: var(--dnd-radiant-color);
}

.damage-thunder { 
    color: var(--dnd-thunder-color); 
}
.damage-thunder::selection {
    color: var(--white-color);
    background-color: var(--dnd-thunder-color);
}

.damage-psychic { 
    color: var(--dnd-psychic-color); 
}
.damage-psychic::selection {
    color: var(--black-color);
    background-color: var(--dnd-psychic-color);
}

.damage-physical,
.damage-piercing,
.damage-bludgeoning,
.damage-slashing {
    color: var(--dnd-physical-color);
}
.damage-physical::selection,
.damage-piercing::selection,
.damage-bludgeoning::selection,
.damage-slashing::selection {
    color: var(--black-color);
    background-color: var(--dnd-physical-color);
}

/* Healing */
[class^="healing"] {
    color: var(--dnd-healing-color);
}
[class^="healing"]::selection {
    color: var(--black-color);
    background-color: var(--dnd-healing-color);
}
.healing-dice {
    font-weight: bold;
}

/* Statuses */
.advantage {
    color: var(--green-color);
    font-weight: bold;
}
.advantage::selection {
    color: var(--white-color);
    background-color: var(--green-color);
}

.disadvantage {
    color: var(--red-color);
    font-weight: bold;
}
.disadvantage::selection {
    color: var(--white-color);
    background-color: var(--red-color);
}

.resistance {
    color: var(--dnd-resistance-color);
}
.resistance::selection {
    color: var(--black-color);
    background-color: var(--dnd-resistance-color);
}

.immune {
    color: var(--dnd-immunity-color);
}
.immune::selection {
    color: var(--black-color);
    background-color: var(--dnd-immunity-color);
}

.vulnerable {
    color: var(--dnd-vulnerable-color);
}
.vulnerable::selection {
    color: var(--black-color);
    background-color: var(--dnd-vulnerable-color);
}

/* Currency */
.currency-gold {
    color: var(--dnd-gold-color);
}
.currency-gold::selection {
    color: var(--black-color);
    background-color: var(--dnd-gold-color);
}



/* Features */
details.dnd-feature-section {
    background-color: var(--light-grey-color-shadow);
    border-radius: 1em;
    padding: 1em;
}

.section-title {
    margin: 0;
    color: var(--primary-color);
    transition: all 0.2s ease-out;
}

.section-title-black {
    margin: 0;
    color: var(--black-color);
    transition: all 0.2s ease-out;
}

.section-title:hover {
    color: var(--primary-color-shade);
}

.feature-context {
    color: var(--dark-grey-color);
    transition: all 0.2s ease-out;
}

.feature-context:hover {
    color: var(--dark-grey-color-shade);
}

.feature-context-group {
    margin: 1em 0;
}

.feature-context-group:last-child {
    margin-bottom: 0;
}

.dnd-feature {
    display: block;
    margin-top: 1em;
    width: 100%;
    border-radius: 1em;
    transition: 0.4s ease-out, padding 0.5s ease-out;
}

.dnd-feature.indicator {
    border-radius: 0;
    padding-left: 0.3em;
    border-left: transparent solid;
    transition: border 0.2s ease-out;
}

.dnd-feature.indicator:hover {
    border-left: var(--primary-color) solid;
}

.dnd-feature.highlighted {
    padding: 0.5em 0.75em;
    border-radius: 1em;
    background-color: var(--green-color-shadow);
}

.dnd-feature-desc {
    display: block;
    margin-bottom: 0;
}

.grid-auto .dnd-feature,
.grid-auto .dnd-subfeatures {
    margin-top: 0 !important;
}

.dnd-subfeatures {
    border: 0.2em solid var(--primary-color);
    border-radius: 0.5em;
    padding: 1em;
    margin-top: 1em;
}

.dnd-subfeatures .dnd-subfeatures {
    border-color: var(--grey-color-shade);
}

.dnd-feature-list {
    margin-bottom: 0;
    padding-left: 1.25em;
}

/* Table */
.dnd-feature-table {
    /* width: 100%; */
    border-collapse: separate;
    border-spacing: 0;
    margin: 1em 0;
    font-size: 0.95em;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    overflow: hidden;
}

.dnd-feature-table thead {
    background-color: #ddd;
}

.dnd-feature-table th,
.dnd-feature-table td {
    border: 1px solid #ccc;
    padding: 0.5em 0.75em;
}

.dnd-feature-table th {
    font-weight: bold;
    text-align: left;
}

/* Round corners on thead */
.dnd-feature-table thead tr:first-child th:first-child {
    border-top-left-radius: 0.45em;
}
.dnd-feature-table thead tr:first-child th:last-child {
    border-top-right-radius: 0.45em;
}

/* Round corners on last row of tbody */
.dnd-feature-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.45em;
}
.dnd-feature-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.45em;
}

/* Body cell styling */
.dnd-feature-table tbody td {
    text-align: center;
}

/* Zebra striping and hover */
.dnd-feature-table tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.dnd-feature-table tbody tr:hover {
    background-color: #eee;
}


/* ===== Spells ===== */
#spellTabs .nav-link {
    font-size: 1.25em;
}

#spellTabs .nav-link:not(.active) {
    color: var(--purple-color);
}

/* Spell Table */
.spell-row {
    cursor: pointer;
}

.spell-row td {
    transition:
        background-color 0.2s ease-out,
        color 0.2s ease-out;
}

.spell-row:nth-of-type(4n + 1) td,
.spell-row:nth-of-type(4n + 2) td {
    background-color: #fdfdfd;
}

.spell-row:nth-of-type(4n + 3) td,
.spell-row:nth-of-type(4n + 4) td {
    background-color: #f5f5f5;
}

.spell-row:hover td {
    background-color: var(--purple-color-shadow);
}

.spell-row.open td {
    background-color: var(--purple-color);
    color: white;
}

.spell-row.open:hover {
    background-color: var(--purple-color); /* no hover change */
}

.spell-details-row td {
    background-color: #f9f9f9;
    font-size: 0.95em;
}

.spell-details-row td p:last-child {
    margin-bottom: 0;
}

.spell-row.highlighted td {
    background-color: var(--blue-color) !important;
}
